body {
  width: 100vw;
  height: 100vh;

}
.wrap {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  overflow: scroll;

  height: auto;
  .sidebar {
    flex: 10%;
    max-width: 10%;
    background-color: #191718;
    color: #ffffff;


    ul {
      li {
        list-style: none;
        border-bottom: 1px solid #5c5c5c;
        margin-bottom: 10px;
        padding: 10px 10px;
        color: #ffffff;
      }
    }
  }
  .content {
   
    flex: 90%;
    padding-top: 20px;
    .news {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .section-1 {
        max-width: 80%;
        text-align: center;
        color: #000000;
        background-color: #efefef;
        padding: 0px 0 50px 0;
        .des {
          width: 80%;
          margin: auto;
        }
      }
      .section-2 {
        max-width: 80%;
        display: flex;
        gap: 50px;
        .col {
          .title {
            font-family: Roboto;
            font-size: 24px;
          }
        }
        .flex {
          .img {
            float: left;
            margin: 4px 10px 10px 0;
            max-height: 128px;
          }
          .des {
            // flex-basis: 70%;
          }
        }
      }
    }
    .footer {
      width: 100%;
      height: auto;
      padding-left: 20px;
      border-top: solid 1px #5c5c5c;
    }
  }
}
p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0em;
}
.title {
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
}
.contain {
  min-height: 90vh;
}
.menu-icon{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
  border-radius:5px ;
  background-color: #5c5c5c;
}
@media only screen and (max-width: 910px) {
  .menu-icon{
    display: block;
  }
  .sidebar{
    display: none;
  }
  .content {
    .section-2 {
      flex-wrap: wrap;
      gap: 10px !important;
      .col {
        flex-basis: 100%;
      }
    }
  }
}
